*{
    user-select: none;
}
.header{
    padding:50px;
    font-size:3.5rem;font-weight:300;line-height:1.2;
}
#registerphone{
    padding:20px;
    width:80%;
    border-radius: 10px;
    border:2px solid var(--gray-10);;
    font-size: 30px;
}
#registerbtn{
    cursor: pointer;
    padding:10px;
    width: 80%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 30px;
    transition-duration: 0.2s;
}
#registerbtn:hover{
    width: 90%;
    height: 90%;
    font-size: 25px;
}
#registerbtn:active{
    
    width: 70%;
    font-size: 20px;
}
.form-group{
    padding: 20px;
}